name: Auto Merge
on: pull_request
jobs:
  merge:
    if: ${{ github.actor == 'dependabot[bot]' }} #Dependabotのプルリクエストのみ
    runs-on: ubuntu-24.04
    permissions: #マージに必要なパーミッション
      contents: write
      pull-requests: write
    env:
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }} #GitHubのCLIクレデンシャル
    steps:
      - uses: actions/checkout@v6
      - run: |
          gh pr review "${GITHUB_HEAD_REF}" --approve
          gh pr merge "${GITHUB_HEAD_REF}" --merge --auto #GitHub CLIでマージ
      


