name: Cache
on: push
jobs:
  cache:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v6
      - uses: actions/cache@v5 #キャッシュの復元と保存
        with:
          key: test-${{ runner.os }}-${{ github.sha }} #キャッシュキー
          path: ${{ github.workspace }}/dummy  #キャッシュ対象のパス
          restore-keys: | #リストアキ―
            test-${{ runner.os }}-
      - run: |
          if [[ -f "${GITHUB_WORKSPACE}/dummy" ]]; then exit 0; fi #ダミーファイルの確認
          dd if=/dev/urandom of="${GITHUB_WORKSPACE}/dummy" bs=1M count=10 #ダミーファイルが無ければ作成
          sleep 30
      - run: ls -lh "${GITHUB_WORKSPACE}/dummy"